<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" icon="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #form="ngForm" (ngSubmit)="changePassword(form,user.id)" method="post">
        <ion-item>
            <ion-label position="stacked">Old Password</ion-label>
            <ion-input type="password" ngModel name="old_password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">New Password</ion-label>
            <ion-input type="password" ngModel name="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Confirm Password</ion-label>
            <ion-input type="password" ngModel name="password_confirmation"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="full" color="danger">Change Password</ion-button>
    </form>

</ion-content>
