<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cater Sirih</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<!--  <div *ngIf="user != undefined">-->
<!--      Welcome {{ user["firstname"]  }} {{ user["lastname"]  }}-->

<!--  </div>-->

      <ion-card *ngFor="let cater of caters" (click)="pushMenuList(cater.id)">
        <ion-img [src]="this.utilService.getImageUrl(cater.banner)"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ cater.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ cater.description }}
        </ion-card-content>

      </ion-card>


</ion-content>